* {
    font-size: 13px;
    font-family: "Salesforce Sans", Arial, sans-serif;
}

.kds-panel {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 10px;
    background: #ffffff;
    border-radius: 5px;
    position: relative;
}

.kds-table {
    width: 100%;
    display: table;
    position: relative;
}

.kds-table-row {
    display: table-row;
    height: 32px;
}

.kds-table-row:hover {
    background-color: #F3F2F2
}

.kds-table-caption {
    display: table-cell;
    font-weight: 700;
    resize: horizontal;
    border-left: solid 1px #aaaaaa;
    overflow: auto;
    vertical-align: middle;
    padding-left: 5px;
    color: #514F4D;
    background: #FAFAF9;
}

.kds-table-caption:hover {
    background: #FFFFFF;
}

.kds-table-caption::-webkit-resizer {
    opacity: 0;
}

.kds-table-cell {
    display: table-cell;
    resize: horizontal;
    position: relative;
    vertical-align: middle;
    text-align: center;
}

.kds-table-cell::-webkit-resizer {
    opacity: 0;
}

.kds-table-cell::-webkit-scrollbar {
    display: none;
}

.kds-table-caption-fixed {
    width: 96px;
    resize: none;
    text-align: center;
    border-left: solid 1px #aaaaaa;
    font-weight: 700;
    display: table-cell;
    vertical-align: middle;
    padding-left: 5px;
    color: #514F4D;
    background: #FAFAF9;
}

.kds-table-caption-fixed:first-child {
    border-left: none;
}

.kds-table-caption-fixed:hover {
    background: #FFFFFF;
}

.kds-cell-isedited {
    background-color: #FAFFBD;
}

.kds-table-save {
    background-color: rgb(243 242 242);
    width: 100%;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.kds-table-save button {
    margin: 5px;
}

.kds-button-white {
    border: solid 1px rgb(118, 118, 118);
    background: #ffffff;
    border-radius: 4px;
    height: 32px;
    padding: 0px 10px;
    color: rgb(27, 82, 151);
}

.kds-button-blue {
    border: solid 1px rgb(27, 82, 151);
    background: rgb(27, 82, 151);
    border-radius: 4px;
    height: 32px;
    padding: 0px 10px;
    color: #ffffff;
}

.kds-button-blue:hover {
    background: rgb(0, 68, 135);
}

.kds-button-white:hover {
    background: rgb(244, 246, 249)
}

.kds-table-icon {
    background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA1MiA1MiIgaWQ9ImRlbGV0ZSI+PGc+PHBhdGggZD0iTTQ1LjUgMTBIMzNWNmMwLTIuMi0xLjgtNC00LTRoLTZjLTIuMiAwLTQgMS44LTQgNHY0SDYuNWMtLjggMC0xLjUuNy0xLjUgMS41djNjMCAuOC43IDEuNSAxLjUgMS41aDM5Yy44IDAgMS41LS43IDEuNS0xLjV2LTNjMC0uOC0uNy0xLjUtMS41LTEuNXpNMjMgN2MwLS42LjQtMSAxLTFoNGMuNiAwIDEgLjQgMSAxdjNoLTZWN3pNNDEuNSAyMGgtMzFjLS44IDAtMS41LjctMS41IDEuNVY0NWMwIDIuOCAyLjIgNSA1IDVoMjRjMi44IDAgNS0yLjIgNS01VjIxLjVjMC0uOC0uNy0xLjUtMS41LTEuNXpNMjMgNDJjMCAuNi0uNCAxLTEgMWgtMmMtLjYgMC0xLS40LTEtMVYyOGMwLS42LjQtMSAxLTFoMmMuNiAwIDEgLjQgMSAxdjE0em0xMCAwYzAgLjYtLjQgMS0xIDFoLTJjLS42IDAtMS0uNC0xLTFWMjhjMC0uNi40LTEgMS0xaDJjLjYgMCAxIC40IDEgMXYxNHoiPjwvcGF0aD48L2c+PC9zdmc+");
    width: 24px;
    height: 24px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    cursor: pointer;
    filter: invert(43%) sepia(2%) saturate(565%) hue-rotate(357deg) brightness(98%) contrast(86%);
}

.kds-table-icon:hover {
    filter: invert(15%) sepia(32%) saturate(5588%) hue-rotate(196deg) brightness(108%) contrast(103%);
}

.kds-cell-deleted {
    display: none !important;
    z-index: -1;
    height: 0 !important;
}

.kds-overlay {
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    background: linear-gradient(#B0C4DF, 20%, #DFDEDD);
    opacity: 0.5;
    z-index: 2;
}

.kds-spinner {
    color: #ffffff;
    font-size: 5px;
    margin: 100px auto;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    position: relative;
    text-indent: -9999em;
    -webkit-animation: load4 1.3s infinite linear;
    animation: load4 1.3s infinite linear;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
}

@-webkit-keyframes load4 {
    0%,
    100% {
        box-shadow: 0 -3em 0 0.2em, 2em -2em 0 0em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 0;
    }
    12.5% {
        box-shadow: 0 -3em 0 0, 2em -2em 0 0.2em, 3em 0 0 0, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
    }
    25% {
        box-shadow: 0 -3em 0 -0.5em, 2em -2em 0 0, 3em 0 0 0.2em, 2em 2em 0 0, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
    }
    37.5% {
        box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 0, 2em 2em 0 0.2em, 0 3em 0 0em, -2em 2em 0 -1em, -3em 0em 0 -1em, -2em -2em 0 -1em;
    }
    50% {
        box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 0em, 0 3em 0 0.2em, -2em 2em 0 0, -3em 0em 0 -1em, -2em -2em 0 -1em;
    }
    62.5% {
        box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 0, -2em 2em 0 0.2em, -3em 0 0 0, -2em -2em 0 -1em;
    }
    75% {
        box-shadow: 0em -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0.2em, -2em -2em 0 0;
    }
    87.5% {
        box-shadow: 0em -3em 0 0, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0, -2em -2em 0 0.2em;
    }
}

@keyframes load4 {
    0%,
    100% {
        box-shadow: 0 -3em 0 0.2em, 2em -2em 0 0em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 0;
    }
    12.5% {
        box-shadow: 0 -3em 0 0, 2em -2em 0 0.2em, 3em 0 0 0, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
    }
    25% {
        box-shadow: 0 -3em 0 -0.5em, 2em -2em 0 0, 3em 0 0 0.2em, 2em 2em 0 0, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
    }
    37.5% {
        box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 0, 2em 2em 0 0.2em, 0 3em 0 0em, -2em 2em 0 -1em, -3em 0em 0 -1em, -2em -2em 0 -1em;
    }
    50% {
        box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 0em, 0 3em 0 0.2em, -2em 2em 0 0, -3em 0em 0 -1em, -2em -2em 0 -1em;
    }
    62.5% {
        box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 0, -2em 2em 0 0.2em, -3em 0 0 0, -2em -2em 0 -1em;
    }
    75% {
        box-shadow: 0em -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0.2em, -2em -2em 0 0;
    }
    87.5% {
        box-shadow: 0em -3em 0 0, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0, -2em -2em 0 0.2em;
    }
}