* {
    font-size: 13px;
    font-family: "Salesforce Sans", Arial, sans-serif;
}

.kds-cell {
    top: 0;
    text-align: left;
    padding-left: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    position: absolute;
    width: 100%;
    height: 100%;
    line-height: 32px;
}

.kds-cell::-webkit-scrollbar {
    display: none;
}

.kds-edit {
    opacity: 0;
    width: 16px;
    height: 16px;
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    cursor: pointer;
    z-index: 1;
}

.kds-cell:hover~.kds-edit {
    opacity: 0.6;
}

.kds-edit:hover {
    opacity: 1;
    filter: invert(29%) sepia(96%) saturate(5925%) hue-rotate(196deg) brightness(98%) contrast(102%);
}

.kds-is-edited {
    background-color: #FAFFBD;
}

.kds-editor-text {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    padding: 10px;
    object-fit: contain;
    line-height: 32px;
    margin: none;
    height: 32px;
    z-index: 2;
}

.kds-editor-droplist {
    position: absolute;
    width: 100%;
    padding: 5px;
    object-fit: contain;
    line-height: 32px;
    margin: none;
    left: 0;
    top: 0;
    height: 32px;
    z-index: 2;
}